/**
 * Toggle CSS
 */

tr.toggle td.main {
 color:#000000; 
 margin:0;
 padding-left:27px;
 background:transparent url('../images/manageRight.png') no-repeat 4px 4px;
 cursor:pointer;
}
tr.expand td.main {
 background:transparent url('../images/manageDown.png') no-repeat 4px 4px;
}
tr.hideandshow {
 margin:0;
 padding:0;
 width:100% !important;
}
tr.hideandshow td div {
 float:left;
 clear:left;
 margin:10px 0;
}
tr.hideandshow:hover {
 background-color:transparent !important;
}

